@import '/src/index.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.horriblesec1 {
  background-color: var(--third-color);
  min-height: 100vh;
}

.horriblesec2 {
  background-color: var(--bg-first);
  min-height: 100vh;
}

.horriblesec3 {
  background-color: var(--bg-orgn1);
  min-height: 100vh;
}
