:root{
    font-family: 'dotgothic16';
    --primary-color: #2e2e2e;
    --secondary-color: #1b1b1b;
    --third-color: #080808;
    --fourth-color: #AB9CB8;
    --bg-first: #551a8b;
    --bg-second: #aa8cc5;
    --bg-third: #7547a2;
    --bg-orgn1: #e96c28;
    --bg-orgn2: #ea9828;
    --bg-orgn3: #fcba21;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
    background-color: var(--bg-second);
}
